<table>
  <thead>
    <tr>
      <th>Route Number</th>
      <th>Route Name</th>
      <th>Route Destination</th>
      <th>Scheduled Time</th>
      <th>Deviation</th>
    </tr>
  </thead>
  <tbody>
    <% @transit_performances.each do |performance| %>
      <tr>
        <td><%= link_to performance.route_number, transit_performance_path(performance) %></td>
        <td><%= link_to performance.route_name, transit_performance_path(performance) %></td>
        <td><%= link_to performance.route_destination, transit_performance_path(performance) %></td>
        <td><%= link_to performance.scheduled_time, transit_performance_path(performance) %></td>
        <td><%= link_to performance.deviation, transit_performance_path(performance) %></td>
      </tr>
    <% end %>
  </tbody>
</table>